.underline {
  background-color: var(--text);
  height: 2px;
  transform: translateY(-4px);
  transition: transform 0.2s;
}
.container {
  width: fit-content;
  padding-bottom: 4px;
  cursor: default;
}
.text {
  font-weight: bold;
  font-size: 1.25rem;
}
.enabled {
  cursor: pointer;
}
.container:hover .underline {
  transform: translateY(-4px) scaleY(2);
}
