@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4FBF4;
  --text: #0C170C;
}

body {
  background-color: var(--background);
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
